



/*.section_active {
  width: 200px;
  height: 600px;
  border-radius: 50px;

 
  background-color: #2cafde;

} */



.menu-btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: #2cafde;
  border-radius: 50%;
  position: relative;
  -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 52%; margin-top: -6px;
  left: 50%; margin-left: -30px;
  width: 60px;
  height: 8px;
  background-color: #fff;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-15px);
}
.menu-btn span::after {
  transform: translateY(19px);
}

.menu-btn_active span:before {
  transform: rotate(-45deg);
  width: 40px;
 margin-left: -31px;
  margin-top: -4px;
  transform-origin: left bottom;
}
.menu-btn_active span:after {
  transform: rotate(45deg);
  width: 40px;
margin-top: -7px;
margin-left: -31px;
  transform-origin: left top;
}
.menu-btn_active span {
top: 50px;
left: 80%;
}

.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav {
  background-color: #fff;
  height: 50px;
  
}
.menu-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
.menu-nav__link {
  transition: 0.5s;
  transform-origin: right center;
  transform: translateX(50%);
  opacity: 0;
}
.menu-nav__link_active {
  transform: translateX(0%);
  opacity: 1;
}

.menu-btn_active {
 width: 250px;
  height: 300px;
  border-radius: 50px;
   -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}